<?xml version='1.0' encoding='utf-8'?>
<widget id="com.mi.vida" version="1.0.0" xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>Mi Vida</name>
  <description>Juego personalizado Mi Vida</description>
  <author email="you@example.com">You</author>
  <content src="index.html" />
  <access origin="*" />
  <platform name="android">
    <icon src="www/assets/icon.png" density="ldpi" />
    <icon src="www/assets/icon.png" density="mdpi" />
    <icon src="www/assets/icon.png" density="hdpi" />
    <icon src="www/assets/icon.png" density="xhdpi" />
    <preference name="AndroidLaunchMode" value="singleTask" />
    <preference name="Orientation" value="landscape" />
  </platform>
</widget>
